.bg-primary {
  background-color: #0d2b64;
}

.bg-primary-80 {
  background-color: #0d2b64;
  opacity: 0.8;
}

.bg-secondary {
  background-color: #274375;
}

.max-w-8xl {
  max-width: 88rem;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}