@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-sans text-white relative;
}

.my_container {
  @apply max-w-7xl mx-auto px-4;
}

input {
  @apply w-full border border-gray-300 rounded px-4 py-3;
}

.site_overlay {
  @apply absolute left-0 top-0 z-[-1];
}

.flex_left {
  @apply flex flex-wrap items-center;
}

.flex_between {
  @apply flex justify-between items-center flex-wrap;
}

.flex_center {
  @apply flex justify-center items-center flex-wrap;
}

.flex_end {
  @apply flex justify-end items-center flex-wrap;
}

.viewers {
  @apply text-xs text-gray-500 font-semibold flex items-center space-x-1.5;
}

.genre_item {
  @apply border-b border-gray-500 hover:text-amber-500;
}

.grid_list_2 {
  @apply grid grid-cols-2 gap-2;
}

.grid_list_4 {
  @apply grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3;
}

.grid_list_5 {
  @apply grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2;
}

.bg-primary {
  background-color: #0d2b64;
}

.bg-primary-80 {
  background-color: #0d2b64;
  opacity: 0.8;
}

.bg-secondary {
  background-color: #274375;
}

.max-w-8xl {
  max-width: 88rem;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  @apply bg-primary text-white relative z-40;
}

.navbar_container {
  @apply mx-auto flex items-center max-w-8xl justify-between p-6 lg:px-8;
}

.navbar_logo {
  @apply flex items-center gap-2;
}

.navbar_logo_link {
  @apply -m-1.5 p-1.5;
}

.navbar_logo_image {
  @apply h-10 w-auto;
}

.navbar_menu {
  @apply hidden lg:flex  lg:gap-x-6  xl:gap-x-12;
}

.navbar_menu_item {
  @apply flex items-center gap-x-1 text-sm font-semibold leading-6 text-white;
}

.navbar_menu_button {
  @apply flex items-center gap-x-1;
}

.navbar_menu_icon {
  @apply h-5 w-5 flex-none text-gray-400;
}

.navbar_dropdown {
  @apply absolute px-6 left-0 top-full z-10 w-full overflow-hidden bg-secondary shadow-lg ring-1 ring-gray-900/5;
}
.navbar_dropdown_1 {
  @apply absolute right-10 top-20 lg:right-36 lg:top-full z-10 w-44 overflow-hidden bg-secondary shadow-lg ring-1 ring-gray-900/5;
}

.navbar_dropdown_search {
  @apply absolute top-44 lg:right-80 lg:top-[86px] z-50 w-full lg:w-96 overflow-hidden bg-secondary shadow-lg;
}
.navbar_dropdown_search input {
  @apply bg-secondary text-white p-4;
}

.navbar_dropdown_grid {
  @apply grid grid-cols-4 gap-2 px-28;
}

.navbar_dropdown_section {
  @apply text-white space-y-6 py-6 px-8 border-l last:border-r;
}

.navbar_dropdown_section_2 {
  @apply col-span-2 text-white space-y-6 py-6 px-14 border-l;
}

.navbar_dropdown_heading {
  @apply font-bold text-2xl;
}

.navbar_dropdown_list_wrap {
  @apply flex flex-wrap gap-4 font-semibold;
}
.navbar_dropdown_list_col {
  @apply flex flex-col gap-4 font-semibold;
}

.navbar_end {
  @apply hidden mx-2 justify-end lg:justify-center gap-2 lg:flex;
}

.navbar_search_icon {
  @apply size-6;
}

.navbar_separator {
  @apply my-auto;
}

.navbar_language_icon {
  @apply size-6 my-auto;
}

.navbar_language {
  @apply relative cursor-pointer;
}

.navbar_language_button {
  @apply flex items-center justify-evenly;
}

.navbar_language_link {
  @apply my-2 py-2 text-base font-medium lg:mx-4;
}

.navbar_language_dropdown {
  @apply invisible absolute z-50 flex w-full flex-col bg-gray-100 py-1 px-4 text-gray-800 shadow-xl group-hover:visible;
}

.navbar_language_item {
  @apply my-2 block border-b border-gray-100 py-1 font-semibold text-gray-500 hover:text-black md:mx-2;
}

.info {
  @apply space-y-2;
}

.heading {
  @apply text-lg font-bold;
}

.date {
  @apply text-sm font-extralight;
}

.language_item {
  @apply block px-4 py-2 text-sm;
}
.language_item:hover {
  @apply bg-quaternary text-primary;
}

.navbar_mobile_container {
  @apply fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-primary py-6 px-2 sm:ring-1 sm:ring-gray-900/10;
}

.navbar_mobile_header {
  @apply flex items-center justify-between px-6;
}

.navbar_mobile_body {
  @apply mt-6 flow-root justify-center py-6 relative;
}
.navbar_mobile_body_container {
  @apply -mx-3 px-4;
}
.navbar_mobile_body_first {
  @apply flex justify-between px-6 pt-2;
}

.navbar_mobile_menu {
  @apply flex lg:hidden;
}

.navbar_mobile_button {
  @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5;
}

.navbar_mobile_icon {
  @apply h-6 w-6;
}

.navbar_menu_mb {
  @apply gap-y-4;
}

.navbar_mobile_list_wrap {
  @apply border-t py-4 last:border-b;
}

.navbar_mobile_list_1 {
  @apply space-y-4 mt-2 outline-1;
}

.navbar_mobile_list_2 {
  @apply gap-8 mx-auto px-12 py-4;
}

.navbar_mobile_list_2_1 {
  @apply ml-6 mt-2 space-y-4 px-8;
}

.navbar_mobile_list_3 {
  @apply flex flex-col space-y-2;
}

.navbar_mobile_list_item {
  @apply flex justify-between  px-6;
}
.navbar_mobile_list_item span {
  @apply font-bold;
}

.navbar_mobile_list_item_1 {
  @apply flex justify-between my-auto ml-2 px-6;
}
.navbar_mobile_list_item_1 span {
  @apply font-bold;
}

.footer-container {
  @apply bg-primary;
}

.footer-wrapper {
  @apply max-w-8xl mx-auto py-10;
}

.footer_grid {
  @apply grid grid-cols-1 p-6 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-10;
}

.footer_heading {
  @apply text-2xl font-bold;
}

.footer_list {
  @apply mt-4 text-lg;
}

.footer_report_item {
  @apply mt-10 md:text-sm;
}

.footer_report_link {
  @apply border border-none bg-secondary p-3;
}

.footer_logo_container {
  @apply flex justify-center my-4;
}

.footer-bottom {
  @apply bg-secondary p-6;
}

.footer-bottom-wrapper {
  @apply flex flex-col justify-between content-center space-y-4 md:flex-row text-center text-sm;
}

.footer_privacy_policy {
  @apply text-xl font-bold my-auto;
}

.footer_social_links {
  @apply flex justify-center gap-6;
}

.banner_container {
  @apply relative max-h-[650px];
}
.banner_image {
  @apply w-full max-h-[650px] object-cover;
}
.banner_overlay {
  @apply absolute inset-x-0 bottom-0;
}
.banner_text_container {
  @apply flex justify-center items-center;
}
.banner_title {
  @apply block text-center text-white sm:text-4xl md:text-6xl font-bold w-fit bg-primary-80 p-3;
}
.banner_button_container {
  @apply flex justify-center mb-2 mt-4 md:mb-20;
}
.banner_button {
  @apply bg-primary-80 text-white px-4 py-2 rounded-md text-lg md:text-3xl font-bold;
}

.content-section-1 {
  @apply max-w-7xl mx-auto my-20 space-y-20;
}
.content-section-2 {
  @apply max-w-8xl mx-auto p-6 lg:px-8;
}
.content-heading-1 {
  @apply flex justify-between border-b border-black pb-3;
}
.content-heading-1 h2, .content-heading-1 a {
  @apply text-2xl font-bold leading-loose text-primary;
}
.content-heading-2 {
  @apply pb-3;
}
.content-heading-2 h2 {
  @apply text-[50px] font-bold leading-normal text-primary mb-8;
}
.content-heading-2 span {
  @apply leading-loose text-black;
}

.card-section {
  @apply grid grid-cols-1 md:grid-cols-2 gap-2 lg:gap-10 mt-4;
}
.card-section-1 {
  @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 mt-4;
}
.card-section-2 {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10;
}
.card-position-left {
  @apply flex flex-col;
}
.card-container {
  @apply bg-quaternary;
}
.card-container-1 {
  @apply bg-quaternary flex;
}
.card-container-1 a {
  @apply flex gap-4;
}
.card-container-2 {
  @apply bg-quaternary md:flex;
}
.card-container-2 a {
  @apply flex gap-4;
}
.card-image {
  @apply w-full h-full lg:max-h-[180px] object-cover;
}
.card-info {
  @apply mt-4 mx-2 p-6;
}
.card-info-1 {
  @apply my-2 mx-6;
}
.card-info-2 {
  @apply my-4 mx-6;
}
.card-date {
  @apply flex gap-2 my-2;
}
.card-date span {
  @apply font-extralight text-sm text-primary;
}
.card-heading a {
  @apply text-lg text-primary font-semibold;
}

.breadcrumb-container {
  @apply flex mx-auto max-w-8xl p-6 lg:px-8;
}

.breadcrumb-list {
  @apply inline-flex items-center space-x-1;
}

.breadcrumb-item {
  @apply inline-flex items-center;
}

.breadcrumb-link {
  @apply inline-flex text-sm font-bold text-black hover:underline;
}

.breadcrumb-separator {
  @apply flex items-center;
}

.breadcrumb-separator-icon {
  @apply mx-2.5 text-gray-800;
}

.search-container {
  @apply grid grid-cols-1 md:grid-cols-4 gap-4 p-12 mt-4 mb-12 bg-quaternary;
}

.search-item-1 {
  @apply col-span-1 md:col-span-4;
}
.search-item-2 {
  @apply col-span-1 md:col-span-2;
}

.search-input {
  @apply w-full p-4 placeholder:text-black outline outline-offset-1 outline-black drop-shadow-lg rounded;
}

.search-box-dropdown-wrapper {
  @apply w-full outline outline-offset-1 outline-black drop-shadow-lg rounded;
}
.search-box-dropdown-container {
  @apply relative cursor-pointer;
}
.search-box-dropdown-toggle {
  @apply flex w-full items-center justify-between space-x-5 bg-white px-4 z-10;
}
.search-box-dropdown-placeholder {
  @apply my-2 py-2 text-base text-black lg:mx-4;
}
.search-box-dropdown-menu {
  @apply absolute w-full overflow-scroll max-h-96 bg-white flex-col shadow-xl;
}
.search-box-dropdown-item {
  @apply my-2 block border-b border-gray-100 py-2 px-8 font-semibold text-black hover:bg-quaternary hover:text-primary;
}

.pagination-container {
  @apply flex flex-col sm:flex-row justify-center sm:justify-between mx-auto mt-8 border border-black p-6 gap-4;
}

.pagination-navigation {
  @apply flex justify-center gap-6 my-auto;
}

.pagination-button {
  @apply flex items-center justify-center;
}

.pagination-icon {
  @apply w-6 h-6;
}

.pagination-input {
  @apply flex gap-4 text-black;
}

.page-input {
  @apply border-b border-t-0 border-l-0 border-r-0 h-8 w-16;
}

.pagination-info {
  @apply my-auto text-black hidden sm:block;
}

.post-container {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-8;
}
.post-left {
  @apply col-span-2 text-black;
}
.post-left-content {
  @apply border-t border-black mt-6 pt-8;
}
.post-right {
  @apply flex flex-col space-y-2 md:justify-between md:space-y-0 md:gap-2 md:flex-row lg:space-y-6 lg:flex-col lg:justify-normal;
}

.media-contacts-container {
  @apply flex gap-6 bg-quaternary p-6 mt-4;
}

.contact-name {
  @apply font-bold;
}

.contact-email {
  @apply font-bold;
}
.contact-email p {
  @apply font-light underline;
}

.related-container {
  @apply text-black space-y-2 mt-2;
}

.related-item {
  @apply border-b py-2 last:border-b-0;
}

/*# sourceMappingURL=style.css.map */
